
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #e993bf;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 400px;
  border: none;
}

.btn:hover {
  background-color: #ce5a96;
  color: #e993bf;
}

.contact__btn {
  background-color: #e993bf;
  padding: 8px 30px;
  border-radius: 50px;
  color: #a00548;
  transition: all 300ms ease;
  height: 40px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 20px;
 
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}

.contact__btn:hover {
  background-color: #e993bf;
  color: white;
}

.purple {
  color: #a00548;
}

.black {
  color: black;
}


.logo {
  width: 160px;
  margin: 32px;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}



.nav__link:hover {
  text-decoration: underline;
}

.nav__links {
  display: flex;
  align-items: center;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}


/* 

LANDING

*/


header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img--wrapper {
  padding: 20px;

  /* Added this after the tutorial to 
  show it over the wave on larger screens */
  z-index: 100;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}

input {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #0a1f44;
  color: #0a1f44;
  display: inline-block;
  height: 70px;
  line-height: 40px;
  outline: none;
  padding: 24px;
  width: 100%;
  max-width: 800px;
  font-size: 16px;

}

.sort__field {
  border-radius: 20px;
}


.input__wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.search__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: black;
  z-index: 3;
  cursor: pointer;
}

.overlay {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 75%;

}

.overlay::after {
  width: 100%;
  height: 100%;
  color: #a00548;
  opacity: 50%;
  z-index: 5;
}

.na {
  align-content: center;
}


/*  MOVIES SEARCH    */

.movie {
  width: 25%;
  padding: 24px;
}

.movie-card{
  max-width: 250px;
  width: 100%;
}
.movies{
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.movie__img {
  max-height: 380px;
  width: 100%;
  transition: all 300ms ease;
  cursor: pointer;
  object-fit: contain;
  object-position: left;
  padding: 12px;
  
}

.movie__description {
  padding: 12px;
  text-align: center;
}

.movies__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin: 24px;
}

.movies__container {
  display: flex;
  flex-wrap: wrap;
}

.search__results {
  margin: 20px 0;
}

/*  FOOTER    */

footer {
  background-color: #a00548;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
}

/* 
**

MOVIES PAGE

**
*/

#movies__body {
  background-color: rgba(115, 66, 214, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#moviess__main {
  flex: 1;
}

.moviess__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.movies__header--title {
  margin: 24px;
  font-size: 56px;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: #7342d6;
}

.movies__loading--spinner {
  display: none !important;
}

.movies__loading .movies__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .book {
    width: 50%;
  }
}


/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .btn__menu {
    display: block;
  }

  .nav__links {
    display: flex;
    align-items: center;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}